extends layout
block content
	h1
		span(style='color:black') Edit #{article.title}
	form(method='POST', action='/articles/edit/'+article._id)
		#form-group
			label Title
			input.form-control(name='title',type='text',value=article.title)
		#form-group
			label Body
			textarea.form-control(name='body')= article.body
		br
		input.btn.btn-danger(type='submit',value='Update')